################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TournamentTracker/.vs/TournamentTracker
/TournamentTracker/TrackerUI/obj/Debug
/TournamentTracker/TrackerUI/bin/Debug
